@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .bg-blur {
    backdrop-filter: blur(4px);
  }

  .writing-v-lr {
    writing-mode: vertical-lr;
  }
}

.vue-typer .custom.char {
  color: rgb(161 161 170 / var(--tw-text-opacity));
}

.vue-typer .custom.caret {
  background-color: rgb(161 161 170 / var(--tw-text-opacity));
  width: 3px;
}

.accordion-item-enter-active,
.accordion-item-leave-active {
  will-change: height;
  transition: height 0.2s ease;
}
.accordion-item-enter,
.accordion-item-leave-to {
  height: 0 !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #111111 inset !important;
  -webkit-text-fill-color: rgb(161 161 170 / 50) !important;
}
